{% extends 'core/base.html' %}
{%block title %}Welcome | {% endblock %}
{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">PrepCorner</h1>
</div>
<div class="p-10 lg:p-20 text-center">
    <h3 class="text-3xl lg:text-3xl text-white">Are you a competitive programmer?</h3>
    <h3 class="text-3xl lg:text-3xl text-white">Are you willing to excel at job interviews?</h3>
    <h3 class="text-3xl lg:text-3xl text-white">Are you looking for a for a like-minded peer group dedicated towards the same goal? </h3>
    <h2 class="text-3xl lg:text-4xl text-white">Congratulations on landing on PrepCorner!</h1>
    <h2 class="text-3xl lg:text-4xl text-white">Dive in to discover, network, and learn!</h3>
</div>
{% endblock %}